
:root {
    --block-bg: #E5E7E8;

    --text-primary: #1C1C1C;
    --text-secondary: #8E8E8E;
    --text-primary-d: #E5E7E8;
    --text-secondary-d: #6A6A6A;

    --border: #00000014;

    --light-button-bg: #F6F6F6;
    --light-button-text: #1C1C1C;

    --button-primary-bg: #242424;
    --button-primary-text: #E5E7E8;

    --button-secondary-bg: #CACACA;
    --button-secondary-text: #8E8E8E;

    --accent-black: #242424;
    --accent-orange: #BF5545;
    --accent-yellow: #F0A443;
    --accent-blue: #3069F9;

    --zoom-factor: 1;
}

a, button, .nav-card, input, #spline-viewer, .tech-info-header {
    cursor: none;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: none !important;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--block-bg);
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    cursor: none;
}

.mf-cursor:before {
    display: none !important;
}

.mf-svgsprite {
    width: 20px;
    height: 20px;
}

.mf-cursor {
    z-index: 10001 !important;
    mix-blend-mode: difference;
}


.mf-cursor.-pointer .mf-cursor-text {
    transform: scale(1.3) !important;
}

a * {
    pointer-events: none;
}

button * {
    pointer-events: none;
}

body::-webkit-scrollbar {
    display: none;
}

body section:not(.advantages-block):not(.reel-block) {
    zoom: var(--zoom-factor);
}

a {
    color: var(--text-primary);
    text-decoration: none;
    transition: text-decoration-color 200ms;
}

a.no-underline {
    text-decoration: none;
}

a:hover.no-underline {
    text-decoration: none !important;
}

/*TODO: add hover styles*/
.large-btn {
    border: none;
    border-radius: 8px;

    background-color: var(--light-button-bg);
    transition: background-color 0.15s ease-in;

    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.large-btn:hover {
    transition: background-color 0.15s ease-in;
    background-color: #F0F0F0;
}


.large-btn span {
    color: var(--light-button-text);
}

.glass-effect {
    background-color: #FFFFFF33;
    transition: background-color 0.15s ease-in;
    backdrop-filter: blur(10px);
}

.btn-dark {
    transition: background-color 0.15s ease-in;
    background-color: var(--button-primary-bg) !important;
}

.btn-dark:hover {
    transition: background-color 0.15s ease-in;
    background-color: #535353 !important;
}

.btn-dark span {
    color: var(--button-primary-text) !important;
}

.glass-effect span {
    color: var(--text-primary-d);
}

.glass-effect:hover {
    transition: background-color 0.15s ease-in;
    background-color: #FFFFFF50;
}

.btn-increased-paddings {
    padding: 16px 24px;
}

.small-btn {
    display: flex;
    height: fit-content;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    /*width: min-content;*/

    background-color: var(--light-button-bg);
    transition: background-color 0.15s ease-in;

    border: none;
    border-radius: 5px;
}

.small-btn:hover {
    transition: background-color 0.15s ease-in;
    background-color: #D2D4D5;
}

.small-btn span {
    color: var(--light-button-text);
}

.opacity-out {
    opacity: 60%;
}

.btn-icon-only {
    padding: 3px 10px;
}

.btn-secondary {
    background-color: var(--button-secondary-bg);
}

.btn-secondary span {
    color: var(--button-secondary-text);
}

.tab-btn {
    border: none;
    border-radius: 8px;

    background: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tab-btn span {
    color: var(--text-secondary);
    transition: color 0.15s ease-in;
}

.tab-btn:hover span {
    color: #5E5E5E;
    transition: color 0.15s ease-in;
}

.tab-btn.active {
    border: none;
    border-radius: 8px;

    background-color: var(--light-button-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tab-btn.active span {
    color: var(--text-primary);
}