
:root {
    --block-bg: #E5E7E8;

    --text-primary: #1C1C1C;
    --text-secondary: #8E8E8E;
    --text-primary-d: #E5E7E8;
    --text-secondary-d: #6A6A6A;

    --border: #00000014;

    --light-button-bg: #F6F6F6;
    --light-button-text: #1C1C1C;

    --button-primary-bg: #242424;
    --button-primary-text: #E5E7E8;

    --button-secondary-bg: #CACACA;
    --button-secondary-text: #8E8E8E;

    --accent-black: #242424;
    --accent-orange: #BF5545;
    --accent-yellow: #F0A443;
    --accent-blue: #3069F9;

    --zoom-factor: 1;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--block-bg);
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body section:not(.advantages-block):not(.reel-block) {
    zoom: var(--zoom-factor);
}

a {
    color: var(--accent-orange);
    text-decoration: underline 1px #BF554500;
    transition: text-decoration-color 200ms;
}

a.no-underline {
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px #BF5545FF;
    text-decoration-style: dashed;
}

a:hover.no-underline {
    text-decoration: none !important;
}

/*TODO: add hover styles*/
.large-btn {
    border: none;
    border-radius: 8px;

    background-color: var(--light-button-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.large-btn span {
    color: var(--light-button-text);
}

.glass-effect {
    background-color: #FFFFFF33;
    backdrop-filter: blur(10px);
}

.btn-dark {
    background-color: var(--button-primary-bg) !important;
}

.btn-dark span {
    color: var(--button-primary-text) !important;
}

.glass-effect span {
    color: var(--text-primary-d);
}

.btn-increased-paddings {
    padding: 16px 24px;
}

.small-btn {
    display: flex;
    height: fit-content;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    /*width: min-content;*/

    background-color: var(--light-button-bg);
    border: none;
    border-radius: 5px;
}

.small-btn span {
    color: var(--light-button-text);
}

.opacity-out {
    opacity: 60%;
}

.btn-icon-only {
    padding: 3px 10px;
}

.btn-secondary {
    background-color: var(--button-secondary-bg);
}

.btn-secondary span {
    color: var(--button-secondary-text);
}

.tab-btn {
    border: none;
    border-radius: 8px;

    background: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tab-btn span {
    color: var(--text-secondary);
}

.tab-btn.active {
    border: none;
    border-radius: 8px;

    background-color: var(--light-button-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tab-btn.active span {
    color: var(--text-primary);
}