@import url("bootstrap.css");
@import url("text-style.css");
@import url("common.css");

.header {
    margin: 16px;
    justify-content: space-between;
    align-items: center;
}

.main-screen {
    padding: 0 16px;
    position: relative;
    height: calc(100vh / var(--zoom-factor) - 100px);
}

.video-container {
    border-radius: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    right: 16px;
    z-index: 0;

    overflow: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
}

.main-image {
    position: absolute;
    bottom: 0;
    z-index: 100;
    object-fit: cover;
}

.tags-container {
    gap: 8px;
    padding: 24px 24px;
}

.tag {
    border: 1px solid #E5E7E833;
    border-radius: 12px;

    padding: 8px 24px 8px 8px;

    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

.tag:not(:first-child) {
    flex: 0 0 0;
}

.tags-container * {
    color: var(--text-primary-d);
}

.typography-block {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    padding: 100px 0 100px 230px;
    width: 100%;
}

.slogan-lines-container * {
    color: var(--text-primary);
}

.desc-text-container {
    gap: 140px;
}

.desc-text-container span {
    display: block;
    color: var(--text-secondary);
}

.typography-block .desc-text-container span:nth-child(1) {
    width: 360px;
}

.typography-block .desc-text-container span:nth-child(2) {
    width: 320px;
}

.gradient-cursor {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 285px;
    background: #E5E7E8;
    z-index: 1000;
    transition: width 0.4s ease-out, height 0.4s ease-out;

    pointer-events: none;
    filter: blur(50px);
}

.typography-block:hover ~ .gradient-cursor {
    width: 200px;
    height: 200px;
    transition: width 0.4s ease-out, height 0.4s ease-out;
}

.typography-block span {
    pointer-events: none;
}

.nav-block {
    padding: 16px;
    gap: 16px;
}

.nav-card {
    background-color: var(--accent-black);
    height: calc(100vh / var(--zoom-factor) - 32px);

    width: 100%;
    align-items: center;
    border-radius: 16px;
    padding: 10px;
}

.nav-card img {
    transition: transform 0.2s ease-in;
}

.nav-card:hover img {
    transition: transform 0.2s ease-out;
    transform: translateY(-6px) !important;
}

.nav-card .to-section-btn {
    transition: background-color 0.2s ease-in;
}

.nav-card:hover .to-section-btn {
    transition: background-color 0.2s ease-in;
    background-color: #CACACA;
}

.nav-card .bottom-content-wrapper {
    transition: transform 0.2s ease-in;
}

.nav-card:hover .bottom-content-wrapper {
    transition: transform 0.2s ease-out;
    transform: translateY(-6px) !important;
}

.nav-card img {
    height: 65%;
    width: 100%;
    object-fit: contain;
    -webkit-filter: drop-shadow(0px 50px 50px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(
            0px 50px 50px rgba(0, 0, 0, 0.5)
    );

    transition: transform 0.4s ease-in;
    transform: scale(1) translateY(0) !important;
}

.to-twitter svg, .to-instagram svg {
    pointer-events: none;
}

.watch-cameras .nav-card-image {
    padding-bottom: 50px;
}

.top-content-wrapper {
    width: 100%;
    padding: 14px 14px 0;
}

.bottom-content-wrapper {
    width: 100%;
}

.chapters-container {
    gap: 4px;
}

.chapters-container span {
    color: var(--text-secondary-d)
}

.card-header {
    color: var(--text-primary-d);
    margin-left: 10px;
}

.to-section-btn {
    background-color: var(--text-secondary-d);
    border: none;
    border-radius: 36px;
    justify-content: center;
    align-items: center;

    margin: 14px;
    padding: 7px;
}

.social-buttons-container {
    gap: 8px;
}

.social-buttons-container * {
    margin: 0;
}

.func-header-block {
    padding: 100px 0 100px 230px;
    height: 380px;
    gap: 50px;
}

.desc-text-container span {
    width: 360px;
}

.features-block {
    padding: 50px 16px;
    position: relative;
    height: 1490px;

    .advanced-shooting {
        width: 460px;
        height: 460px;
        position: absolute;
        top: 50px;
        left: 16px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/advanced-shooting.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .high-resolution {
        width: 696px;
        height: 220px;
        position: absolute;
        top: 50px;
        left: 728px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/high-resolution.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .fast-processing {
        width: 577px;
        height: 460px;
        position: absolute;
        top: 360px;
        left: 490px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/fast-processing.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .fast-processing span[class="text-t3"] {
        width: 150px;
    }

    .video-recording {
        width: 815px;
        height: 220px;
        position: absolute;
        top: 839px;
        left: 16px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/video-recording.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .wireless-connectivity {
        width: 372px;
        height: 360px;
        position: absolute;
        top: 1080px;
        left: 593px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/wireless-connectivity.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .feature-descr-wrapper {
        padding: 20px;
        height: 100%;
        justify-content: flex-end;
    }

    .feature-descr-wrapper span {
        color: var(--text-primary-d);
    }
}

spline-viewer {
    height: calc(1000px * var(--zoom-factor));
    max-width: 1440px;
    width: 1440px;
}


@keyframes marquee {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-50% - 25px))
    }
}

.reel-block {
    /*height: calc(500vh / var(--zoom-factor)) !important;*/
    /*max-height: calc(500vh / var(--zoom-factor)) !important;*/
    /*margin-right: calc(16px * var(--zoom-factor)) !important;*/
    /*margin-left: calc(16px * var(--zoom-factor)) !important;*/
    width: 100%;
    max-width: 100%;

    .reel-content-wrapper {
        position: relative;
        transition: opacity 0.2s ease-in;
        opacity: 1;

    }

    .pin-spacer {
        width: 100% !important;
        /*height: calc(100vh * var(--zoom-factor)) !important;*/
    }

    .reel-video-placeholder {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .ticker-wrap {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        top: 24px;

        zoom: var(--zoom-factor);

        z-index: 10;
    }

    .ticker {
        display: flex;
        gap: 30px;
        animation: marquee 20s linear infinite;
        width: min-content;
    }

    .ticker span {
        color: #E5E7E8;
        font-family: Inter, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -1.5px;
    }

    .bottom-content-wrapper {
        position: absolute;
        bottom: 24px;
        left: 0;
        right: 0;
        padding: 0 24px;
        z-index: 100;
        overflow: hidden;
        zoom: var(--zoom-factor);

    }

    .reel-desc {
        color: var(--text-primary-d);
        width: 250px;
    }

    .reel-progress-bar {
        height: 125px;
        width: 3px;
        border-radius: 10px;
        position: absolute;

        right: 24px;
        top: 50%;
        z-index: 1000;
        transform: translateY(-50%);

        zoom: var(--zoom-factor);
    }

    .reel-progress-thumb {
        width: 100%;
        border-radius: 10px;
        background-color: var(--text-primary-d);
    }
}

.reel-block .reel-content-wrapper div:not(video) {
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

.reel-block.playing .reel-content-wrapper div:not(video) {
    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.reel-block .reel-video-placeholder {
    transition: filter 0.2s ease-in;
    filter: brightness(0.3);
}

.reel-block.playing .reel-video-placeholder {
    transition: filter 0.2s ease-in;
    filter: brightness(1);
}

.accessories-block {
    height: calc(700px * var(--zoom-factor));

    .accessories-header {
        margin-left: 253px;
        margin-top: 120px;
        margin-bottom: 36px;
        display: block;
    }

    .wrapper {
        height: 100%;
        gap: 16px;
        padding-left: 16px;
    }

    .navigation-container {
        width: 16.5%;
        height: 100%;
    }

    .slider-area {
        width: calc(100% - 16.5%);
        overflow-x: scroll;
        height: 100%;
        gap: 16px;
        align-items: flex-end;
        padding-bottom: 32px;
        padding-top: 70px;

        position: relative;
        padding-right: 16px;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .slider-area {
        transform: rotateX(180deg);
    }

    .slider-area .item-card {
        transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
    }

    .slider-area::-webkit-scrollbar {
        height: 2px;
    }

    .slider-area::-webkit-scrollbar-track {
        background-color: #00000033;
        border-radius: 2px;
    }

    .slider-area::-webkit-scrollbar-thumb {
        background-color: var(--accent-black);
        outline: none;
        border-radius: 2px;
    }

    .tab-btn span {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.72px;
    }

    .tab-descr {
        color: var(--text-secondary);
    }

    .tab-btn-wrapper .tab-descr {
        display: none;
        padding: 10px 20px;
        width: 100%;
    }

    .tab-btn.active ~ .tab-descr {
        display: block;
    }
}

.item-card {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
    height: min-content;

    .image-header-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
    }

    .image-header-container img {
        border-radius: 16px;
        border: 2px solid rgba(142, 142, 142, 0.50);
    }

    .image-header-container div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        align-items: center;
    }

    .color-selector {
        display: flex;
        flex-direction: row;
        gap: 11px;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4px;
    }

    .divider {
        display: block;
        width: 100%;
        height: 0.5px;
        min-height: 0.5px;
        background-color: var(--border);
    }

    .item-price {
        color: var(--text-secondary);
    }

    .item-type {
        color: var(--text-secondary);
    }

    .hidden {
        display: none !important;
    }

    .item-description {
        width: 100%;
    }

    .properties-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 4px;
    }

    .properties-info-container div {
        align-self: stretch;

        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }

    .properties-info-container > div span {
        width: fit-content;
    }

    .tech-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 12px;
        overflow: hidden;
    }

    .tech-info-wrapper .tech-info-container {
        max-height: 200px;
        transition: max-height 0.25s ease-in;
    }

    .tech-info-wrapper.collapsed .tech-info-container {
        max-height: 0;
        transition: max-height 0.25s ease-out;
    }

    .tech-info-wrapper.collapsed #caretDown {
        transform: rotate(0deg);
        transition: transform 0.25s ease-out;

        transform-origin: 50% 50%;
    }

    .tech-info-wrapper #caretDown {
        transform: rotate(180deg);
        transition: transform 0.25s ease-out;

        transform-origin: 50% 50%;
    }

    .tech-info-header {
        cursor: pointer;
        transition: color 0.15s ease-in;
        color: var(--text-primary);
    }

    .tech-info-header:hover {
        color: #818181;
        transition: color 0.15s ease-in;
    }

    .tech-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 4px;
    }

    .tech-info-container > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .tech-info-container > div span {
        display: block;
        width: 160px;
    }


}

.color-selector input[type="radio"] {
    appearance: none;
    margin: 0;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 5px;
}

.color-selector input[type="radio"]::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transform: translate(-3px, -3px);
}

input[type="radio"]:checked::before {
    opacity: 100%;
}

.large-lines-container {
    width: min-content;
}

.large-lines-container span {
    width: min-content;
    max-width: 30vw;
}

.item-description span {
    color: var(--text-primary);
}

.choose-camera-text-block {
    height: 500px;
}

.advantages-block {
    padding: 0 calc(16px * var(--zoom-factor));
    display: flex;
    width: 100%;
    height: min-content;
    background-color: var(--block-bg);

    .advantage-image {
        height: 100%;
        zoom: var(--zoom-factor);
        object-fit: contain;
    }

    .advantages-lead-container {
        gap: 16px;
        margin: calc(24px * var(--zoom-factor));
        position: absolute;
        width: calc(560px * var(--zoom-factor));
    }

    .advantages-lead-container span {
        text-align: left;
        zoom: var(--zoom-factor);
    }

    .advantages-lead-container .text-t1-bold {
        color: var(--text-primary-d);
    }

    .advantages-lead-container .text-t1 {
        color: var(--text-secondary-d);
    }

    .text-section {
        height: min-content;
    }

    .advantage-header {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        width: 500px;

        zoom: var(--zoom-factor);
    }

    .advantage {
        height: 100vh;
        width: 100%;
    }

    .pin-spacer {
        inset: auto !important;
        width: 50% !important;
    }

    .advantage-trigger {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .advantage-trigger > span {
        width: 500px;
        zoom: var(--zoom-factor);
    }

    .images-gallery {
        position: relative;
        width: 100%;
        height: 100%;

        border-radius: 16px;
        overflow: hidden;
    }

    .advantage-image-container {
        position: absolute;
        inset: 0;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .image-section {
        margin-top: 16px;
        height: calc(100vh - 32px);
        max-height: calc(100vh - 32px);

        left: calc(16px * var(--zoom-factor)) !important;
        background-color: var(--accent-black);
        border-radius: 16px;

        width: 50%;
        text-align: center;

        .advantage-image {
            -webkit-filter: drop-shadow(0px 50px 50px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(
                    0px 50px 50px rgba(0, 0, 0, 0.5)
            );
        }
    }

    .text-section {
        width: 50%;
    }

    .pin-spacer {
        height: calc(100vh * var(--zoom-factor)) !important;
    }

    .red-blur {
        width: 100%;
        height: 975px;
        flex-shrink: 0;

        position: absolute;
        bottom: -700px;
        left: 0px;

        z-index: -1;

        border-radius: 975px;
        background: #DA3C23;
        filter: blur(234px);
    }
}

.footer {
    height: 530px;
    padding: 16px;
    gap: 16px;
    position: relative;

    .frame {
        width: 100%;
    }

    .footer-center-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

    }

    .footer-frame-container {
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-between;
        height: 0;
    }

    .us-rectangle {
        position: absolute;
        left: 1024px;
        top: 100px;

        width: 203px;
        height: 203px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 15px;
    }

    .us-rectangle img {
        border-radius: 5px;
        border: 3px solid var(--button-secondary-bg);
    }

    .us-rectangle svg {
        position: absolute;
        left: 0;
        top: 0;
    }

    .us-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
        align-items: flex-start;
        width: 100%;
    }

    .us-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
        align-items: flex-end;
        width: 100%;
    }

    .about-us-header {
        color: var(--text-primary, #1C1C1C);
        text-align: right;

        font-family: 'Space Grotesk', sans-serif;
        font-size: 143px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%;
        letter-spacing: -5.7px;
        text-transform: uppercase;
    }


    .footer-logo {
        flex-shrink: 0;
        width: min-content;
    }

    .legal {
        width: 100%;
    }

    .legal span {
        color: var(--text-secondary);
    }

    .copyrights {
        width: 280px;
        text-align: right;
    }

    .created-by {
        width: 160px;
        text-align: left;
    }
}


.footer .to-section-btn {
    opacity: 0.6;
    background-color: var(--button-secondary-bg);
    transition: opacity 0.15s ease-in;
}

.footer .to-section-btn:hover {
    opacity: 1;
    background-color: var(--button-secondary-bg); !important;
    transition: opacity 0.15s ease-in;
}

.footer:hover .us-rectangle {
    transform: scale(1.05);
    transition: transform 0.3s ease-out;
}

.footer .us-rectangle {
    transform: scale(1);
    transition: transform 0.15s ease-out;
}