@import url("bootstrap.css");
@import url("text-style.css");

:root {
    --block-bg: #E5E7E8;

    --text-primary: #1C1C1C;
    --text-secondary: #8E8E8E;
    --text-primary-d: #E5E7E8;
    --text-secondary-d: #6A6A6A;

    --border: #00000014;

    --light-button-bg: #F6F6F6;
    --light-button-text: #1C1C1C;

    --button-primary-bg: #242424;
    --button-primary-text: #E5E7E8;

    --button-secondary-bg: #CACACA;
    --button-secondary-text: #8E8E8E;

    --accent-black: #242424;
    --accent-orange: #BF5545;
    --accent-yellow: #F0A443;
    --accent-blue: #3069F9;

    --zoom-factor: 1;
}

body {
    background-color: var(--block-bg);
    margin: 0;
    width: 100%;

    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--accent-orange);
    text-decoration: underline 1px #BF554500;
    transition: text-decoration-color 200ms;
}

a:hover {
    text-decoration: underline 1px #BF5545FF;
    text-decoration-style: dashed;
}

img {
    max-width: 100%;
}

.header {
    margin: 16px;
    justify-content: space-between;
    align-items: center;
}

/*TODO: add hover styles*/
.large-btn {
    border: none;
    border-radius: 8px;

    background-color: var(--light-button-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.large-btn span {
    color: var(--light-button-text);
}

.btn-glass {
    background-color: #FFFFFF33;
    backdrop-filter: blur(10px);
}

.btn-dark {
    background-color: var(--button-primary-bg) !important;
}

.btn-dark span {
    color: var(--button-primary-text) !important;
}

.btn-glass span {
    color: var(--text-primary-d);
}

.btn-increased-paddings {
    padding: 16px 24px;
}

.small-btn {
    display: flex;
    height: fit-content;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    background-color: var(--light-button-bg);
    border: none;
    border-radius: 5px;
}

.small-btn span {
    color: var(--light-button-text);
}

.opacity-out {
    opacity: 60%;
}

.btn-icon-only {
    padding: 3px 10px;
}

.btn-secondary {
    background-color: var(--button-secondary-bg);
}

.btn-secondary span {
    color: var(--button-secondary-text);
}

.tab-btn {
    border: none;
    border-radius: 8px;

    background: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tab-btn span {
    color: var(--text-secondary);
}

.tab-btn.active {
    border: none;
    border-radius: 8px;

    background-color: var(--light-button-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.tab-btn.active span {
    color: var(--text-primary);
}

.main-screen {
    padding: 0 16px;
    position: relative;
    height: 810px;
}

.main-image {
    border-radius: 16px;
    position: absolute;
    top: 0;
    z-index: -1;

    object-fit: cover;
}

.tags-container {
    gap: 8px;
    padding: 24px 24px;
}

.tag {
    border: 1px solid #E5E7E833;
    border-radius: 12px;

    padding: 8px 24px 8px 8px;

    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

.tag:not(:first-child) {
    flex: 0 0 0;
}

.tags-container * {
    color: var(--text-primary-d);
}

.typography-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0 100px 257px;
}

.slogan-lines-container * {
    color: var(--text-primary);
}

.desc-text-container {
    gap: 140px;
}

.desc-text-container span {
    display: block;
    color: var(--text-secondary);
}

.typography-block .desc-text-container span:nth-child(1) {
    width: 360px;
}

.typography-block .desc-text-container span:nth-child(2) {
    width: 320px;
}

.nav-block {
    padding: 0 16px;
    gap: 16px;
}

.nav-card {
    background-color: var(--accent-black);
    height: calc(100vh / var(--zoom-factor));

    width: 100%;
    align-items: center;
    border-radius: 16px;
    padding: 10px;
}

.top-content-wrapper {
    width: 100%;
    padding: 14px;
}

.bottom-content-wrapper {
    width: 100%;
}

.chapters-container {
    gap: 4px;
}

.chapters-container span {
    color: var(--text-secondary-d)
}

.card-header {
    color: var(--text-primary-d);
    margin-left: 10px;
}

.to-section-btn {
    background-color: var(--text-secondary-d);
    border: none;
    border-radius: 36px;
    justify-content: center;
    align-items: center;

    margin: 14px;

    width: 36px;
    height: 36px;
}

.social-buttons-container {
    gap: 8px;
}

.social-buttons-container * {
    margin: 0;
}

.func-header-block {
    padding: 100px 0 100px 257px;
    height: 380px;
    gap: 50px;
}

.desc-text-container span {
    width: 360px;
}

.features-block {
    padding: 50px 16px;
    position: relative;
    height: 1490px;

    .advanced-shooting {
        width: 460px;
        height: 460px;
        position: absolute;
        top: 50px;
        left: 16px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/advanced-shooting.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .high-resolution {
        width: 696px;
        height: 220px;
        position: absolute;
        top: 50px;
        left: 728px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/high-resolution.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .fast-processing {
        width: 577px;
        height: 460px;
        position: absolute;
        top: 360px;
        left: 490px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/fast-processing.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .fast-processing span[class="text-t3"] {
        width: 150px;
    }

    .video-recording {
        width: 815px;
        height: 220px;
        position: absolute;
        top: 839px;
        left: 16px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/video-recording.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .wireless-connectivity {
        width: 372px;
        height: 360px;
        position: absolute;
        top: 1080px;
        left: 593px;

        border-radius: 16px;
        background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../assets/wireless-connectivity.png"), lightgray 50%;
        background-size: contain;
        background-blend-mode: multiply, normal;
    }

    .feature-descr-wrapper {
        padding: 20px;
        height: 100%;
        justify-content: flex-end;
    }

    .feature-descr-wrapper span {
        color: var(--text-primary-d);
    }
}

spline-viewer {
    height: calc(1500px * var(--zoom-factor));
}


@keyframes marquee {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}

.reel-block {
    height: calc(100vh / var(--zoom-factor));
    position: relative;

    .reel-video {
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .ticker-wrap {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        top: 24px;

        z-index: 10;
    }

    .ticker {
        display: flex;
        gap: 30px;
        animation: marquee 20s linear infinite;
    }

    .ticker span {
        color: #E5E7E8;
        font-family: Inter, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -1.5px;
    }

    .bottom-content-wrapper {
        position: absolute;
        bottom: 24px;
        padding: 0 24px;
        z-index: 100;
    }

    .reel-desc {
        color: var(--text-primary-d);
        width: 250px;
    }
}

.reel-block:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #00000099;
}

.accessories-block {
    height: min-content;

    .accessories-header {
        margin-left: 253px;
        margin-top: 120px;
        margin-bottom: 36px;
        display: block;
    }

    .wrapper {
        gap: 16px;
        padding-left: 16px;
    }

    .navigation-container {
        width: 16.5%;
        height: 100%;
    }

    .slider-area {
        width: calc(100% - 16.5%);
        overflow-x: scroll;
        height: min-content;
        gap: 16px;
        padding-bottom: 70px;

        position: relative;
        padding-right: 16px;

        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    .slider-area::-webkit-scrollbar {
        height: 2px;
    }

    .slider-area::-webkit-scrollbar-track {
        background-color: #00000033;
        border-radius: 2px;
    }

    .slider-area::-webkit-scrollbar-thumb {
        background-color: var(--accent-black);
        outline: none;
        border-radius: 2px;
    }

    .tab-btn span {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.72px;
    }

    .tab-descr {
        color: var(--text-secondary);
    }

    .tab-btn-wrapper .tab-descr {
        display: none;
        padding: 10px 20px;
        width: 100%;
    }

    .tab-btn.active ~ .tab-descr {
        display: block;
    }
}

.item-card {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
    height: min-content;

    .image-header-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
    }

    .image-header-container img {
        border-radius: 16px;
    }

    .image-header-container div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        align-items: center;
    }

    .color-selector {
        display: flex;
        flex-direction: row;
        gap: 11px;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4px;
    }

    .divider {
        display: block;
        width: 100%;
        height: 0.5px;
        min-height: 0.5px;
        background-color: var(--border);
    }

    .item-description {
        width: 100%;
    }

    .properties-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 4px;
    }

    .properties-info-container div {
        align-self: stretch;

        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }

    .properties-info-container > div span {
        width: fit-content;
    }

    .tech-info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 12px;
    }

    .tech-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 4px;
    }

    .tech-info-container > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .tech-info-container > div span {
        display: block;
        width: 160px;
    }
}

.color-selector input[type="radio"] {
    appearance: none;
    margin: 0;
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 5px;
}

.color-selector input[type="radio"]::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transform: translate(-3px, -3px);
}

input[type="radio"]:checked::before {
    opacity: 100%;
}

.item-description span {
    color: var(--text-primary);
}

.choose-camera-text-block {
    height: 500px;
}

.advantages-block {
    padding: 0 16px;
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
    height: min-content;

    .text-section {
        height: min-content;
    }

    .advantage-header {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        width: 500px;
    }

    .advantage {
        height: 100vh;
        width: 100%;
    }

    .advantage-trigger {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .advantage-trigger > span {
        width: 500px;
    }

    .images-gallery {
        position: relative;
        width: 100%;
        height: 100%;

        border-radius: 16px;
        overflow: hidden;
    }

    .advantage-image-container {
        position: absolute;
        top: 24px;
        left: 24px;
        bottom: 24px;
        right: 24px;
    }

    .image-section {
        margin-top: 16px;
        height: calc(100vh - 32px);
        max-height: calc(100vh - 32px);
        background-color: var(--accent-black);
        border-radius: 16px;
    }

    .text-section {
        width: 50%;
    }

    .pin-spacer {
        height: calc(100vh * var(--zoom-factor)) !important;
    }

    .image-section {
        width: 50%;
        height: calc(100vh * var(--zoom-factor)) !important;
        text-align: center;
    }
}

.footer {
    padding: 16px;
    gap: 16px;

    .footer-logo {
        flex-shrink: 0;
        width: min-content;
    }

    .legal {
        width: 100%;
    }

    .legal span {
        color: var(--text-secondary);
    }

    .copyrights {
        width: 280px;
    }

    .created-by {
        width: 160px;
        text-align: right;
    }
}