@import url("bootstrap.css");
@import url("text-style.css");

:root {
    --block-bg: #E5E7E8;
    --text-primary: #1C1C1C;
    --text-secondary: #8E8E8E;
    --text-primaty-d: #E5E7E8;
    --border: #00000014;

    --large-button-bg: #F6F6F6;
    --large-button-text: #1C1C1C;

    --button-primary-bg: #242424;
    --button-primary-text: #E5E7E8;

    --button-secondary-bg: #CACACA;
    --button-secondary-text: #8E8E8E;

    --accent-orange: #BF5545;
    --accent-yellow: #F0A443;
    --accent-blue: #3069F9;
}

body {
    background-color: var(--block-bg);
    margin: 0;
    width: 1440px;
}

body span {
    /*noinspection CssInvalidPropertyValue*/
    text-wrap: nowrap;
}

.header {
    margin: 16px;
}

/*TODO: add hover styles*/
.large-btn {
    border: none;
    border-radius: 8px;

    background-color: var(--large-button-bg);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.large-btn span {
    color: var(--large-button-text);
}

.main-screen {
    padding: 0 16px;
    position: relative;
    height: 810px;
}

.main-image {
    border-radius: 16px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.tags-container {
    gap: 8px;
    padding: 24px 24px;
}

.tag {
    border: 1px solid #E5E7E833;
    border-radius: 12px;

    padding: 8px 24px 8px 8px;

    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

.tag:not(:first-child) {
    flex: 0 0 0;
}

.tags-container * {
    color: var(--text-primaty-d);
}