.text-h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 80%;
    letter-spacing: -4px;
    text-transform: uppercase;
}

.text-h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -2.5px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -2px;
}

.text-h4 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -0.72px;
}

.text-t1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.72px;
}

.text-t1-bold {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.72px;
}

.text-t2 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 128%;
    letter-spacing: -0.56px;
}

.text-t3 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 128%;
    letter-spacing: -0.24px;
}
