:root {
    --zoom-factor: 1;

    --block-bg: #E5E7E8;

    --text-primary: #1C1C1C;
    --text-secondary: #8E8E8E;
    --text-primary-d: #E5E7E8;
    --text-secondary-d: #6A6A6A;

    --border: #00000014;

    --light-button-bg: #F6F6F6;
    --light-button-text: #1C1C1C;

    --button-primary-bg: #242424;
    --button-primary-text: #E5E7E8;

    --button-secondary-bg: #CACACA;
    --button-secondary-text: #8E8E8E;

    --accent-black: #242424;
    --accent-orange: #BF5545;
    --accent-yellow: #F0A443;
    --accent-blue: #3069F9;

    --margin-side: 24px;
}

/*noinspection CssInvalidPropertyValue*/
body, html {
    overscroll-behavior: contain;

    touch-action: pan-down;
    padding: 0;
    display: flex;
    margin: 0;

    flex-direction: column;
}

html * {
    overscroll-behavior: contain;
}

body {
    margin: 24px 0 0;
    background-color: var(--block-bg);
}

html {
    zoom: var(--zoom-factor);
}

section {
    margin: 0 var(--margin-side);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.large-btn {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 12px;

    border: none;
    border-radius: 8px;
    background: var(--light-button-bg);
}

.small-btn {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border-radius: 5px;
    border: none;
    background-color: var(--button-primary-bg);

    color: var(--text-primary-d);
}

.light-btn {
    background-color: var(--light-button-bg);
    color: var(--text-primary);
}

/*noinspection CssInvalidPropertyValue*/
.tab-btn {
    background-color: var(--block-bg);
    color: var(--text-primary);
    text-wrap: nowrap;
}

.tab-btn.active {
    background-color: var(--light-button-bg);
}

.icon-btn {
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(24px);
    color: var(--text-primary-d);
}

.text-t1 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.7px;
}

.text-t1-bold {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
}

.text-t2 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.7px;
}

.text-t2-bold {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.7px;
}

.text-t3 {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 128%;
    letter-spacing: -0.24px;
}

.main-screen {
    height: calc(100vh / var(--zoom-factor) - 180px);
    max-height: 690px;
    border-radius: 16px;
    background-image: url("../../assets/mobile/main.png");
    background-position: bottom left;
    background-size: cover;

    padding: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.main-screen span {
    color: var(--text-primary-d);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.text-h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -2px;
}

.typography-block {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 24px;
}

.typo-header-container {
    display: flex;
    flex-direction: column;
    color: var(--text-primary)
}


.typo-descr-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    color: var(--text-secondary);
}

.buttons-row-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.navigation-cards {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    .nav-card {
        border-radius: 16px;
        background: linear-gradient(221deg, #3F3F3F -6.58%, rgba(36, 36, 36, 0.00) 79.64%), #222;
        height: 690px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        width: 100%;

        box-sizing: border-box;
    }

    .flex-top {
        align-items: flex-start;
    }

    .flex-bottom {
        align-items: flex-end;
    }

    .flex-container .text-t2 {
        color: var(--text-secondary-d);
    }

    .flex-container .text-h1 {
        color: var(--text-primary-d);
    }
}

.rounded-btn {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 18px;
    background: var(--text-secondary-d, #6A6A6A);
}

.features-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    margin-top: 50px;

    .feature-card {
        color: var(--text-primary-d);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 6px;
        align-self: stretch;
    }

    .feature-card div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 6px;
        align-self: stretch;

        margin: 16px;
    }
}

.features-block .feature-card:nth-child(1) {
    height: 360px;
    border-radius: 16px;
    background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../../assets/advanced-shooting.png"), lightgray 50%;
    background-size: cover;
    background-blend-mode: multiply, normal;
}

.features-block .feature-card:nth-child(2) {
    height: 220px;
    border-radius: 16px;
    background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../../assets/high-resolution.png"), lightgray 50%;
    background-size: cover;
    background-blend-mode: multiply, normal;
}

.features-block .feature-card:nth-child(3) {
    height: 288px;
    border-radius: 16px;
    background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../../assets/fast-processing.png"), lightgray 50%;
    background-size: cover;
    background-blend-mode: multiply, normal;
}

.features-block .feature-card:nth-child(4) {
    height: 228px;
    border-radius: 16px;
    background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../../assets/video-recording.png"), lightgray 50%;
    background-size: cover;
    background-blend-mode: multiply, normal;
}

.features-block .feature-card:nth-child(5) {
    height: 350px;
    border-radius: 16px;
    background: linear-gradient(180deg, #34333000 58%, #34333033 80%, #34333080 100%), url("../../assets/wireless-connectivity.png"), lightgray 50%;
    background-size: cover;
    background-blend-mode: multiply, normal;
}

.advantages-block {
    margin-top: 50px;

    .advantages-lead-block {
        border-radius: 16px;
        background-color: var(--accent-black);
        height: 500px;
        color: var(--text-primary-d);
        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: 16px;

        background-image: url("../../assets/mobile/advantages.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom 50px;

    }

    .advantages-lead-block .text-t2 {
        color: var(--text-secondary-d);
        width: 280px;
    }

    .advantage-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .advantage-header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        color: var(--text-primary);
    }

    .advantage-item .text-t1 {
        color: var(--text-secondary);
    }

    .advantage-items-list {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: stretch;

        margin-top: 24px;
    }

    .gray-divider {
        flex-grow: 1;
        height: 2px;
        background-color: var(--border);
    }
}


.advantage-item-red {
    overflow: hidden;
    margin: 50px 0 0;
    position: relative;
    color: var(--text-primary-d);
    background: linear-gradient(221deg, #3F3F3F -6.58%, rgba(36, 36, 36, 0.00) 79.64%), #222;
    height: 1000px;

    .content-wrapper {
        position: absolute;
        inset: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        z-index: 100;
        padding: 64px 30px;
    }

    .arrow-icon-wrapper {
        display: flex;
        justify-content: flex-end;
        align-self: stretch;
    }
}

.advantage-item-red .text-h1 {
    line-height: 100%;
}

.red-blur {
    width: 950px;
    height: 950px;
    flex-shrink: 0;
    border-radius: 975px;
    background: #DA3C23;
    filter: blur(200px);

    position: absolute;
    bottom: -280px;
    left: 50%;
    margin-left: -456px;
}

.cameras-carousel-block {
    margin: 0;
    position: relative;

    .carousel-progress {
        z-index: 100;
        position: absolute;
        top: 22px;
        left: var(--margin-side);
        right: var(--margin-side);

        display: flex;
        flex-direction: row;
        gap: 8px;
        flex: 1 0 0;

        .progress-bar {
            height: 3px;
            flex-grow: 1;
            border-radius: 8px;
            background-color: var(--border);
            overflow: hidden;

            position: relative;
            transition: background-color 0.2s ease-in-out;
        }

        .progress-thumb {
            position: absolute;
            left: 0;
            right: 100%;
            border-radius: 8px;
            height: 3px;
            background-color: var(--text-primary);
            transition: background-color 0.2s ease-in-out;

        }

        .progress-bar.dark {
            transition: background-color 0.2s ease-in-out;

            background-color: var(--text-secondary-d) !important;
        }

        .progress-bar.dark .progress-thumb {
            transition: background-color 0.2s ease-in-out;

            background-color: var(--text-primary-d) !important;
        }
    }

    .cameras-carousel {
        /*height: 770px;*/

        .carousel-slide {
            height: 770px;
            position: relative;

            .camera-image {
                position: absolute;
                left: 0;
                top: 0;

                z-index: 20;
            }

            .category-header-container {
                position: absolute;
                left: var(--margin-side);
                right: var(--margin-side);
                top: 411px;
                display: flex;
                flex-direction: column;
                gap: 0;
                z-index: 10;
            }

            .category-header-container span {
                font-family: 'Space Grotesk', sans-serif;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: 90%;
                letter-spacing: -2.56px;
                text-transform: uppercase;
                z-index: 30;
            }

            .category-header-container span:nth-child(1) {
                color: var(--text-primary);
            }

            .category-header-container span:nth-child(2) {
                color: #DADCDD;
            }

            .slide-info-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: absolute;
                top: 50px;
                left: var(--margin-side);
                right: var(--margin-side);
                z-index: 30;

                .model-container {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    width: 190px;

                    align-items: flex-start;
                }
            }


            .slide-info-container span {
                color: var(--text-primary);
            }

            .slide-info-container span.text-t3 {
                color: var(--text-secondary);
            }


            .slide-descr-container {
                position: absolute;
                top: 580px;
                left: var(--margin-side);
                right: var(--margin-side);

                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .slide-descr-container span:nth-child(2) {
                margin-top: 24px;
            }

            .gray-line {
                background-color: var(--border);
                position: absolute;
            }

            .horizontal-line {
                width: 100%;
                height: 1px;
            }

            .vertical-line {
                width: 1px;
                height: 100%;
            }
        }

        .horizontal-line.first-line {
            left: 0;
            top: 24px;
        }

        .horizontal-line.second-line {
            left: 0;
            top: 462px;
        }

        .horizontal-line.third-line {
            left: 0;
            top: 748px;
        }

        .vertical-line.first-line {
            top: 0;
            left: var(--margin-side);
        }

        .vertical-line.second-line {
            top: 0;
            left: calc(171px + var(--margin-side));
        }

        .premium {
            background-color: #222222;

            .category-header-container span:nth-child(1) {
                color: var(--text-primary-d) !important;
            }

            .category-header-container span:nth-child(2) {
                color: #2B2C2C !important;
            }

            .slide-descr-container span:nth-child(2) {
                color: var(--text-primary-d)
            }

            .slide-info-container span {
                color: var(--text-primary-d);
            }

            .slide-info-container span.text-t3 {
                color: var(--text-secondary-d);
            }
        }
    }
}


@keyframes marquee {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-50% - 25px))
    }
}


.reel-block {
    margin-top: 30px;
    height: calc(100vh / var(--zoom-factor));
    max-height: 690px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;

    .text-button-container {
        position: absolute;
        inset: 0;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 16px;
        align-items: flex-start;
        background-color: #00000099;
        z-index: 100;
    }

    .text-button-container span {
        color: var(--text-primary-d);
        width: 180px;
    }

    .ticker-wrap {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        top: 24px;

        z-index: 200;
    }

    .ticker {
        display: flex;
        gap: 30px;
        animation: marquee 20s linear infinite;
        width: min-content;
    }

    .ticker span {
        color: #E5E7E8;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.7px;
    }

    .opacity-out {
        opacity: 60%;
    }
}

.reel-block video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shop-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 50px 0 0;
    margin-bottom: 50px;

    .tabs-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .tabs-container {
        display: flex;
        flex-direction: row;
        gap: 0;
        align-items: flex-start;

        align-self: stretch;
        overflow-x: scroll;
        padding: 0 var(--margin-side);
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .tabs-container::-webkit-scrollbar {
        display: none;
    }

    .tab-description {
        color: var(--text-secondary);
        width: 300px;
        margin-left: var(--margin-side);
    }

    .slider-area {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 16px;
        row-gap: 24px;

        margin: 0 var(--margin-side);
        position: relative;
    }

    .item-image {
        border-radius: 16px;
        width: 100%;
    }

    .item-card {
        display: flex;
        gap: 10px;
        width: calc(50% - 8px);
        max-width: 200px;
        position: relative;
        flex-direction: column;

        .item-price, .item-type {
            color: var(--text-secondary);
        }
    }

    .item-text-container {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .item-type {
        margin-top: 8px;
    }

    .item-card button {
        position: absolute;
        left: 12px;
        top: 12px;
        z-index: 200;
    }

    .item-card-trigger {
        position: absolute;
        inset: 0;
        z-index: 150;
    }

    .cart-btn * {
        pointer-events: none;
    }

    .cart-btn {
        position: relative;
        overflow: hidden;
    }

    .cart-btn.added {
        background-color: var(--light-button-bg) !important;
        width: 88px;
        transition: width 0.3s ease-out;
        height: 27px;
    }

    .cart-btn.added:before {
        transform: translateY(1px);
        transition: transform 0.1s ease-in;
    }

    .cart-btn.added .check {
        transform: translateY(0);
        transition: transform 0.1s ease-in;
    }

    .cart-btn span, .cart-btn .plus {
        transform: translateY(0);
        transition: transform 0.1s ease-out;
    }

    .cart-btn.added span, .cart-btn.added .plus {
        transform: translateY(-20px);
        transition: transform 0.1s ease-out;
        position: absolute;
    }

    .cart-btn:before {
        display: block;
        content: "Added";
        position: absolute;
        left: 16px;

        color: var(--text-primary);

        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 128%;
        letter-spacing: -0.24px;

        transform: translateY(20px);
        transition: transform 0.1s ease-in;
    }

    .cart-btn .check {
        position: absolute;
        right: 16px;
        transform: translateY(20px);
        transition: transform 0.1s ease-in;
    }

    #sheet .contents.fullscreen .item-detailed-info {
        overflow-y: scroll;
    }

    .item-detailed-info {
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        flex-grow: 1;
        height: 100%;

        overflow-y: clip;
        box-sizing: border-box;

        .item-image {
            transition: height 0.3s ease-out, object-position 0.3s ease-in, border-radius 0.3s ease-in;
            object-position: center center;
            height: 230px;
            width: 100%;
            border-radius: 16px 16px 0 0;
            object-fit: cover;
        }

        .item-price, .item-type {
            color: var(--text-secondary)
        }

        .properties-info-container {
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-items: stretch;

            gap: 4px
        }

        .properties-info-container div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .tech-info-wrapper {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .tech-info-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4px;
            align-items: stretch;
        }

        .tech-info-container div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .tech-info-container div span {
            width: 50%;
        }

        .tech-info-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
        }

        .divider {
            height: 1px;
            width: 100%;
            background-color: var(--border);
        }

        .cart-btn {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }


    .hidden {
        display: none !important;
    }
}

.sheet * {
    overscroll-behavior-y: contain;
}

.sheet {
    overscroll-behavior-y: contain;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
}

.sheet[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.sheet .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;



    background-color: #000000aa;
}

.sheet .contents {
    display: flex;
    flex-direction: column;

    border-radius: 1rem 1rem 0 0;

    background: var(--block-bg);

    overflow-y: hidden;

    --default-transitions: transform 0.5s, border-radius 0.5s;

    transition: var(--default-transitions);
    transform: translateY(0);

    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    height: 30vh;

    box-sizing: border-box;
}

.sheet .contents:not(.not-selectable) {
    transition: var(--default-transitions), height 0.5s;
}

.sheet .contents.fullscreen {
    border-radius: 0;
}

.sheet[aria-hidden="true"] .contents {
    transform: translateY(100%);
}

.sheet .controls {
    display: flex;
}

.sheet .draggable-area {
    width: 3rem;
    margin: auto;
    padding: 1rem;
    cursor: grab;
}

.sheet .draggable-thumb {
    width: inherit;
    height: 0.25rem;
    background: var(--border);
    border-radius: 0.125rem;
}

.fullscreen .item-image {
    transition: height 1s ease-out, object-position 0.3s ease-in, border-radius 0.3s ease-in;
    height: 400px !important;
    border-radius: 16px !important;
    object-position: center top;
}

.footer {
    background: linear-gradient(180deg, #121212 0%, #222 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: var(--margin-side);

    .footer-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        margin: 120px 0;
        width: 200px;
        align-self: stretch;
    }

    .meet-message-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .meet-header {
        color: var(--text-primary-d);
        font-family: 'Space Grotesk', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 82%;
        letter-spacing: -2px;
    }

    .meet-message-container .text-t1 {
        color: var(--text-secondary-d);
    }

    .red-btn {
        background-color: #BF5545 !important;
    }

    .photos-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 16px;
    }

    .photo-container span {
        color: var(--text-primary-d)
    }

    .photo-container img {
        border-radius: 8px;
    }

    .photo-divider {
        width: 2px;
        background-color: #6A6A6A;
        opacity: 0.3;
        border-radius: 2px;
        height: 100%;
    }
}